<div class="page-header">
  <h3>Adjective #<%= @adjective.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Adjective word</dt>
      <dd><%= @adjective.adjective_word %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/adjectives" class="btn btn-primary">
        Back
      </a>
      <a href="/adjectives/<%= @adjective.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_adjective/<%= @adjective.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
