<!-- Validation failure messages -->
<% if @eval_evidence.errors.any? %>
  <% @eval_evidence.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Eval Evidence</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_eval_evidence" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for evidence_description -->
      <div class="form-group">
        <label for="evidence_description" class="control-label">
          Evidence description
        </label>

        <input type="text" id="evidence_description" name="evidence_description" placeholder="Evidence description" class="form-control" value="<%= @eval_evidence.evidence_description %>">
      </div>

      <button class="btn btn-success">
        Create Eval Evidence
      </button>
      or
      <a href="/eval_evidences">Cancel</a>
    </form>
  </div>
</div>
