<div class="page-header">
  <h3>Eval Evidence #<%= @eval_evidence.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Evidence description</dt>
      <dd><%= @eval_evidence.evidence_description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/eval_evidences" class="btn btn-primary">
        Back
      </a>
      <a href="/eval_evidences/<%= @eval_evidence.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eval_evidence/<%= @eval_evidence.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
