<div class="page-header">
  <h3>Body Format #<%= @body_format.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Description</dt>
      <dd><%= @body_format.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/body_formats" class="btn btn-primary">
        Back
      </a>
      <a href="/body_formats/<%= @body_format.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_body_format/<%= @body_format.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
