<div class="page-header">
  <h3>Adverb #<%= @adverb.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Adverb word</dt>
      <dd><%= @adverb.adverb_word %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/adverbs" class="btn btn-primary">
        Back
      </a>
      <a href="/adverbs/<%= @adverb.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_adverb/<%= @adverb.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
