<div class="page-header">
  <h3>Eval Result #<%= @eval_result.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Results description</dt>
      <dd><%= @eval_result.results_description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/eval_results" class="btn btn-primary">
        Back
      </a>
      <a href="/eval_results/<%= @eval_result.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eval_result/<%= @eval_result.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
